aws_access_key="<some key>"
aws_secret_key="<some id>"
cdh_stack_name="cdh19"
default_vpc_id="vpc-xyz"
region="ap-southeast-1"
availability_zone="ap-southeast-1a"
ami_id="ami-0b4dd9d65556cac22"
public_subnets_cidr_blocks="172.31.48.0/20"
private_subnets_cidr_blocks="172.31.64.0/20"
aws_keypair_name="cdhstack_admin"
cdh_master_instance_type="t3.large"
cdh_worker_instance_type="t3.small"
master_block_device_size=80
worker_block_device_size=80
cdh_master_count=2
cdh_worker_count=2
vpc_cidr="172.31.0.0/16"