aws_access_key="<key>"
aws_secret_key="<secret_key>"
vpc_id="<vpcid>"
region="ap-southeast-1"
availability_zone="ap-southeast-1a"
ami_id="ami-0b4dd9d65556cac22"
public_subnets_cidr_blocks="172.31.0.0/16"
private_subnets_cidr_blocks="172.31.64.0/20"
aws_keypair_name="cdhstack_admin"
instance_type="m3.large"
spot_price= 0.035
spot_cdh_master_count=2
spot_cdh_worker_count=3
vpc_cidr="52.221.196.95/32"