com.cloudera.cmf.db.type=mysql
com.cloudera.cmf.db.host={{mariadb_scm_dbhost}}
com.cloudera.cmf.db.name={{mariadb_scm_dbname}}
com.cloudera.cmf.db.user={{mariadb_scm_user}}
com.cloudera.cmf.db.setupType=EXTERNAL
com.cloudera.cmf.db.password={{mariadb_scm_password}}